<section class="availability-time-section container px-2 py-8 md:p-8 flex justify-center items-center flex-col">
  <app-section-title [title]="'Контакти'"></app-section-title>
  <div class="schedule-container text-[16px] flex gap-5 flex-col md:flex-row">
    <div class="map flex-[1_1_60%]">
      <iframe class="w-full"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2575.063919118653!2d23.99271187651931!3d49.80366597147601!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ae7bb5b5b56ad%3A0xd4a5c71eb5676a92!2z0JvQntCgINGWINCa0L4!5e0!3m2!1suk!2sua!4v1708521995929!5m2!1suk!2sua"
              width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="availability flex-[1_1_40%]">
      <h2 class="text-center">Графік роботи</h2>
      <div class="schedule-item py-3.5 border-b border-b-dark flex justify-between">
        <span class="inline-block">Понеділок - Пʼятниця</span>
        <span>10:00 - 20:00</span>
      </div>
      <div class="schedule-item py-3.5 border-b border-b-dark flex justify-between">
        <span class="inline-block">Cубота</span>
        <span>Вихідний</span>
      </div>
      <div class="schedule-item py-3.5 flex justify-between">
        <span class="inline-block">Неділя</span>
        <span>Вихідний</span>
      </div>
      <p class="additional-info">
        Якщо у Вас виникли додаткові питання щодо розкладу роботи клініки чи прийому лікарів, пишіть нам на <a
        class="underline hover:text-primary"
        href="loriko.lviv@gmail.com">loriko.lviv@gmail.com</a> або за номером телефону <a
        class="underline whitespace-nowrap hover:text-primary" href="tel:+38 068-075-61-46">+38 068-075-61-46</a>
      </p>
    </div>
  </div>
</section>
