<div
  id="header-information"
  class="header-information md:h-[64px]
  md:max-h-60px flex justify-end md:justify-center items-center px-4 bg-dark text-white gap-5 sticky top-0 pb-0"
  [class.open]="isMenuOpen">
  <div class="contacts flex-col md:flex-row text-[12px] flex justify-between items-center md:gap-4 w-full">
    <div class="burger-menu md:hidden flex w-full md:w-auto justify-end md:justify-center py-2 md:py-0">
      <button mat-icon-button (click)="isMenuOpen = !isMenuOpen">
        <mat-icon>{{isMenuOpen ? 'close' : 'menu'}}</mat-icon>
      </button>
    </div>
    <div class="links md:flex">
      <ul class="flex-col md:flex-row flex gap-4 text-[16px]">
        <li><a class="p-[16px]" [routerLink]="['/']">Головна</a></li>
        <li><a class="p-[16px]" [routerLink]="['/']" fragment="about">Про нас</a></li>
        <li><a class="p-[16px]" [routerLink]="['/']" fragment="doctors">Лікарі</a></li>
        <li><a class="p-[16px]" [routerLink]="['/']" fragment="services">Послуги</a></li>
        <li><a class="p-[16px]" [routerLink]="['/']" fragment="contacts">Контакти</a></li>
      </ul>
    </div>
    <!--    <div class="clinic-name block md:hidden text-white text-2xl flex-[1_1_50%]" [routerLink]="['/']">Лор і Ко</div>-->
    <div class="phone hidden items-center gap-2 hover:text-primary md:flex group">
      <div
        class="icon p-[5px] rounded-full flex justify-center items-center border border-white group-hover:border-primary">
        <mat-icon class="!w-[16px] !h-[16px] text-[16px]">phone</mat-icon>
      </div>
      <a class="underline" href="tel:+38 068-075-61-46">+38 068-075-61-46</a>
    </div>
    <!--    <hr class="hidden md:block">-->
    <!--    <div class="email items-center gap-2 hover:text-primary hidden md:flex group">-->
    <!--      <div class="icon p-[5px] rounded-full flex justify-center items-center border group-hover:border-primary">-->
    <!--        <mat-icon class="!w-[16px] !h-[16px] text-[16px]">mail</mat-icon>-->
    <!--      </div>-->
    <!--      <a class="underline" href="mailto:loriko.lviv@gmail.com">loriko.lviv@gmail.com </a>-->
    <!--    </div>-->
    <!--    <hr>-->
    <!--    <div class="location items-center gap-2 hidden md:flex">-->
    <!--      <div class="icon p-[5px] rounded-full flex justify-center items-center border border-white">-->
    <!--        <mat-icon class="!w-[16px] !h-[16px] text-[16px]">location_on</mat-icon>-->
    <!--      </div>-->
    <!--      <span>м. Львів, вул. Наукова 13/1</span>-->
    <!--    </div>-->
  </div>
</div>
