:host {
  ul {
    list-style-position: inside;

    li {
      list-style-type: disc;
    }
  }

  li, span {
    font-size: 19px;
    margin-bottom: 10px;
    line-height: 25px;
    font-weight: 300;
  }
}
