<div class="section px-2 py-8 md:p-8">
  <div class="ent-container">
    <app-section-title [title]="'Консультація отоларинголога'"></app-section-title>
    <div class="information-container flex flex-col md:flex-row justify-evenly">
      <div class="photo-container mb-6 md:mb-0 flex items-center justify-center">
        <img class="max-w-[350px] rounded-[12px]" src="assets/raba-bohdan.webp" alt="Отоларинголог">
      </div>
      <ul class="flex flex-col justify-between p-4 md:ml-[52px]">
        <h2 class="text-center">Якщо у вас виник один з подібних симптомів, не затягуйте візит до ЛОРа:</h2>
        <li><span>Біль у вухах, виділення з вуха;</span></li>
        <li><span>Погіршення слуху або нюху, втрата смаку;</span></li>
        <li><span>Неприємні відчуття в горлі і носоглотці;</span></li>
        <li><span>Хропіння, складності при диханні носом;</span></li>
        <li><span>Погіршення роботи вестибулярного апарату;</span></li>
        <li><span>Складнощі при ковтанні;</span></li>
        <li><span>Закладеність носа протягом тривалого часу;</span></li>
        <li><span>Часті ГРВІ та ангіни;</span></li>
        <li><span>Післяопераційні ускладнення.</span></li>
      </ul>
    </div>
  </div>
</div>
<hr class="text-[#ebebeb]">
<div class="section beauty-container px-2 py-8 md:p-8">
  <app-section-title [title]="'Косметолог в клініці “ЛОР і Ко”'"></app-section-title>
  <div class="information-container flex flex-col md:flex-row-reverse justify-evenly">
    <div class="photo-container flex items-center mb-6 md:mb-0">
      <img class="max-w-[350px] rounded-[12px]" src="assets/raba-bohdan.webp" alt="Косметолог">
    </div>
    <div class="text max-w-[550px] p-4">
        <p>Професійно грамотний індивідуальний підбір лікувальних косметологічних процедур і косметологічних препаратів
          –
          це кредо «ЛОР і Ко». Ми прагнемо враховувати бажання наших пацієнтів, які бажають зберегти природність і
          природну міміку, і повернути молодість.</p>
      <p>Естетична медицина і косметологія – основні напрямки нашої роботи. Фахівці клініки постійно розвиваються і
          вдосконалюються для ефективного вирішення естетичних завдань пацієнтів.</p>
      <p>У кожної людини в житті повинен бути свій лікар. Той, кому можна довірити найцінніше – здоров’я. Клініка
          естетичної медицини і косметології «ЛОР і Ко» – це ваш особистий лікар. Якому ви можете цілком довіритися. І
          якого ви можете рекомендувати рідним і близьким.</p>
      <p>Лікарі клініки допоможуть повернути вам молодість, красу, стрункість, життєву енергію, впевненість в
          собі.</p>
    </div>
  </div>
</div>
