:host {
  ul {
    list-style-position: inside;

    li {
      list-style-type: disc;
    }
  }

  li, p {
    font-size: 19px;
    margin-bottom: 10px;
    line-height: 25px;
    font-weight: 300;
  }

  p {
    letter-spacing: 1.25px;
    word-spacing: 8px;
    text-indent: 50px;
  }
}
