<div class="section px-2 py-8 md:p-8">
  <div class="ent-container">
    <h2 class="text-center">Консультація отоларинголога</h2>
    <h3 class="text-center">Якщо у вас виник один з подібних симптомів, не затягуйте візит до ЛОРа:</h3>
    <div class="information-container flex justify-between">
      <div class="photo-container flex items-center">
        <img src="assets/ent_doctor.png" alt="Отоларинголог">
      </div>
      <ul>
        <li><span>Біль у вухах, виділення з вуха;</span></li>
        <li><span>Погіршення слуху або нюху, втрата смаку;</span></li>
        <li><span>Неприємні відчуття в горлі і носоглотці;</span></li>
        <li><span>Хропіння, складності при диханні носом;</span></li>
        <li><span>Погіршення роботи вестибулярного апарату;</span></li>
        <li><span>Складнощі при ковтанні;</span></li>
        <li><span>Закладеність носа протягом тривалого часу;</span></li>
        <li><span>Часті ГРВІ та ангіни;</span></li>
        <li><span>Післяопераційні ускладнення.</span></li>
      </ul>
    </div>
  </div>
  <div class="beauty-container">
    <h2 class="text-center">Косметолог в клініці “ЛОР і Ко”</h2>
    <div class="information-container flex flex-row-reverse justify-between">
      <div class="photo-container flex items-center">
        <img src="assets/ent_doctor.png" alt="Отоларинголог">
      </div>
      <div class="text">
        <span>Професійно грамотний індивідуальний підбір лікувальних косметологічних процедур і косметологічних препаратів
          –
          це кредо «ЛОР і Ко». Ми прагнемо враховувати бажання наших пацієнтів, які бажають зберегти природність і
          природну міміку, і повернути молодість.</span>
        <span>Естетична медицина і косметологія – основні напрямки нашої роботи. Фахівці клініки постійно розвиваються і
          вдосконалюються для ефективного вирішення естетичних завдань пацієнтів.</span>
        <span>У кожної людини в житті повинен бути свій лікар. Той, кому можна довірити найцінніше – здоров’я. Клініка
          естетичної медицини і косметології «ЛОР і Ко» – це ваш особистий лікар. Якому ви можете цілком довіритися. І
          якого ви можете рекомендувати рідним і близьким.</span>
        <span>Лікарі клініки допоможуть повернути вам молодість, красу, стрункість, життєву енергію, впевненість в
          собі.</span>
      </div>
    </div>
  </div>
</div>
