<div class="doctor-container p-4 md:p-7">
  <div class="base-info flex flex-col md:flex-row gap-6 md:gap-12">
    <div class="photo-container flex justify-center">
      <img src="/assets/korotina_kh.webp" alt="Коротін Христина Вікторівна"
           class="max-w-[300px] md:max-w-[360px] rounded-[12px]">
    </div>
    <div class="info-container py-4 flex justify-between flex-col gap-6 md:gap-0 items-center md:items-start">
      <div class="name flex flex-col">
        <span class="font-[600] text-[26px] mb-2 text-center md:text-start">Коротіна Христина Вікторівна</span>
        <span class="text-[14px] text-[#666666] text-center md:text-start">лікар-отоларинголог</span>
      </div>
      <div class="experience flex flex-col">
        <span class="text-[18px] text-primary mb-3 font-[600]">Стаж роботи</span>
        <div class="text-primary font-[600] flex items-center">
          <span class="text-[36px] mr-2">{{experience}}</span>
          <span class="text-[22]">{{yearTitle(experience)}}</span>
        </div>
      </div>
      <div class="book-attendance">
        <button (click)="openContactDialog()"
                class="rounded-md bg-primary hover:bg-transparent text-white hover:text-primary border-2 border-primary p-2 text-[16px]"
        >Записатися на прийом
        </button>
      </div>
      <div class="description text-[16px]">
        <p class="text-center md:text-start">Освіта – вища медична, закінчила у 2021р. <a
          class="text-primary underline hover:opacity-60"
          href="https://new.meduniv.lviv.ua/" target="_blank">Львівський
          Національний Медичний Університет ім.Данила Галицького</a> за спеціальністю педіатрія</p>
      </div>
    </div>
  </div>
  <div class="additional-info text-[16px] mt-6">
    <div class="courses">
      <p><strong class="text-[18px]">2021 - 2023</strong> – інтернатура за спеціальністю дитяча оториноларингологія на
        базі кафедри дитячої оториноларингології
        ЛНМУ ім. Данила Галицького і КНП Міська Дитяча Клінічна Лікарня;</p>
      <p><strong class="text-[18px]">2021</strong> - X українсько-польська конференція з дитячої оториноларингології
        ЄВРОЛОР;</p>

      <p><strong class="text-[18px]">2022, вересень</strong> - майстер-клас «Хірургія барабанної перетинки»;</p>

      <p><strong class="text-[18px]">2023, лютий</strong> - майстер-клас «Порушення голосу в дітей»;</p>

      <p><strong class="text-[18px]">2023, травень</strong> - участь у конференції «Особливості діагностики,
        фармакотерапії, хірургічного лікування та реабілітації при запальних і незапальних захворюваннях ЛОР»;</p>

      <p><strong class="text-[18px]">2023, жовтень</strong> - Симпозіум «Реконструктивна хірургія військових травм
        голови та шиї»;</p>

      <p><strong class="text-[18px]">2023, жовтень</strong> - участь у конференції «Сучасні технології діагностики та
        лікування в оториноларингології»;</p>

      <p><strong class="text-[18px]">2023, грудень</strong> - участь у конференції «Сучасні методи лікування гострих та
        хронічних захворювань ЛОР-органів»;</p>

      <p><strong class="text-[18px]">2023, листопад</strong> - участь у конференції «Сучасні методики ринопластики та
        естетичної хірургії носа»;</p>

      <p><strong class="text-[18px]">2023, вересень-грудень</strong> - Цикл навчання з отоларингології, Львівський
        національний медичний університет ім. Д. Галицького, факультет післядипломної освіти;</p>
      <p><strong class="text-[18px]">2023-2024</strong> - Курс спеціалізації по загальній та реконструктивній хірургії
        від
        VALIKHNOVSKI ACADEMY.</p>
    </div>
  </div>
</div>
