<section class="bg-background px-2 py-8 md:p-8">
  <app-section-title [title]="'Про клініку'"></app-section-title>
  <div class="about-container gap-5 flex flex-wrap md:flex-nowrap justify-evenly">
    <div class="text-container">
      <div class="entry-content">
        <span>Всім привіт!</span>
        <span>Ми раді вітати Вас на сайті нашої клініки здоров’я і краси “ЛОР і Ко”, яка створювалася з метою забезпечення
          комфорту, затишку і якісного надання медичних послуг в галузі отоларингології та косметології.</span>
        <span>Зручне розташування клініки, привітний персонал, індивідуальний підхід до кожного гарантує Вам
          отримати максимум задоволення від наданих послуг.</span>
        <span>Кожна людина прагне до кращого в цьому житті, так і наші спеціалісти постійно вдосконалюються відвідуючи
          різноманітні конференціі, семінари і навчання.</span>
        <span>Запрошуємо до нас, щоб мати змогу в цьому переконатись.</span>
      </div>
    </div>
  </div>
</section>
