:host {
  .about-container {
    .photo-container {
    }

    .text-container {
      text-align: center;
      span {
        display: inline-block;
        font-size: 19px;
        margin-bottom: 10px;
        line-height: 25px;
        font-weight: 300;
      }
    }
  }
}
