.our-employees {
  background: #fafafa;

  .employee-item {
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid white;
    cursor: pointer;

    .photo {
      img {
        border: 3px solid #047404;
        object-fit: cover;
      }
    }

    &:hover {
      border: 2px solid #047404;
      transform: translateY(-10px);
      transition: transform 0.1s ease-in-out;
    }

    .name {
      span {
        font-size: 24px;

        @media screen and (max-width: 670px) {
          font-size: 20px;
        }
      }
    }
  }
}
