<section class="our-employees p-2 md:p-8">
  <app-section-title [title]="'Наші лікарі'"></app-section-title>
  <div class="grid justify-evenly gap-5 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
    <div class="employee-item rounded-md p-4 flex flex-col justify-between items-center">
      <div class="photo my-3.5">
        <img src="/assets/l-kar-otorinolaringolog-back.png" alt="Раба Богдан Мирославович"
             class="w-[170px] h-[170px] rounded-full">
      </div>
      <div class="name flex flex-col justify-center items-center mb-5">
        <span class="firstname my-2.5 text-dark">Раба</span>
        <span class="text-dark">Богдан Мирославович</span>
      </div>
      <div class="description">
      <span class="text-center inline-block text-dark">
        Лікар-отоларинголог. Стаж більше 10 років
      </span>
      </div>
    </div>
    <div class="employee-item rounded-md p-4 flex flex-col justify-between items-center">
      <div class="photo my-3.5">
        <img src="/assets/l-kar-kosmetolog.png" alt="Раба Галина Іванівна" class="w-[170px] h-[170px] rounded-full">
      </div>
      <div class="name flex flex-col justify-center items-center mb-5">
        <span class="firstname my-2.5 text-dark">Раба</span>
        <span class="text-dark">Галина Іванівна</span>
      </div>
      <div class="description">
      <span class="text-center text-dark inline-block">
        Лікар-косметолог. Стаж більше 10 років
      </span>
      </div>
    </div>
    <div class="employee-item rounded-md p-4 flex flex-col justify-between items-center">
      <div class="photo my-3.5">
        <img src="/assets/zabrodska_kh.png" alt="Раба Галина Іванівна" class="w-[170px] h-[170px] rounded-full object-cover">
      </div>
      <div class="name flex flex-col justify-center items-center mb-5">
        <span class="firstname my-2.5 text-dark">Забродська</span>
        <span class="text-dark">Христина Вікторівна</span>
      </div>
      <div class="description">
        <span class="text-center inline-block text-dark">
          Лікар-отоларинголог. Стаж більше 2 років
        </span>
      </div>
    </div>
  </div>
</section>
