<section class="px-8 md:px-2 flex flex-col md:flex-row justify-center md:justify-evenly" id="appointment-form">
  <div class="location-container flex justify-center items-center flex-[1_1_50%] p-4 md:mr-[24px]">
    <div class="form-container max-w-[450px] min-w-[350px]">
      <app-section-title [title]="'Записатися на прийом'"></app-section-title>
      <form class="flex flex-col justify-between gap-8" [formGroup]="form">
        <input placeholder="Ваше імʼя" type="text" formControlName="name"
               class="w-full text-[16px] border-[1px] border-[#eeeeee] rounded-sm border-border-primary p-3 focus:border-primary">
        <input placeholder="Ваш телефон" id="tel" [phoneControl]="form.controls['phone']" [preValue]="phoneControlValue"
               maxlength="14" phoneMask
               formControlName="phone"
               class="w-full text-[16px] border-[1px] border-[#eeeeee] rounded-sm border-border-primary p-3 focus:border-primary">
        <textarea cdkTextareaAutosize formControlName="wishes" cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5"
                  class="w-full text-[16px] border-[1px] border-[#eeeeee] rounded-sm border-border-primary p-3 focus:border-primary"
                  placeholder="Ваші побажання"></textarea>
        <div class="info flex gap-2 items-center">
          <mat-icon class="text-primary text-[12px] !h-[15px] !w-[15px]">info</mat-icon>
          <span class="text-[12px]">Ми ніколи не розголошуватимемо вашу особисту інформацію</span>
        </div>
        <button type="button" (click)="sendRequest()" [disabled]="form.invalid"
                class="text-[16px] rounded-sm bg-primary p-2 text-white hover:bg-dark disabled:bg-[#b4b4b4]">
          Передзвоніть мені
        </button>
      </form>
    </div>
  </div>
  <div class="map flex-[1_1_50%] hidden md:flex md:justify-center md:items-end">
    <img class="h-[450px]" src="/assets/l-kar-kosmetolog-removebg.webp" alt="Раба Богдан Мирославович">
  </div>
</section>
