:host {
  section {
    background-image: url("/assets/location_form_bg.png");

    input {
      box-shadow: 0 0 10px rgba(0, 0, 0, .1);
      outline: none;
    }

    img {
      object-fit: cover;
      pointer-events: none;
    }
  }
}

::ng-deep .snack-bar-success {
  .mat-mdc-snack-bar-label {
    display: flex;
    justify-content: center;
  }
}
