<section class="p-8 bg-background">
  <h1 class="text-center">Наші послуги</h1>
  <div class="flex flex-wrap justify-evenly gap-8">
    <div class="ent">
      <h2 class="text-center">Отоларинголога</h2>
      <div class="services flex justify-center">
        <ul>
          <li>консультація спеціаліста</li>
          <li>відеоендоскопія</li>
          <li>невідкладна допомога</li>
          <li>профогляди</li>
          <li>процедури (промивання лакун мигдаликів, промивання носа методом переміщення рідин, вимивання сірчаних
            корків)
          </li>
          <li>видалення сторонніх тіл ЛОР органів</li>
          <li>мала хірургічна допомога</li>
          <li>аудіограма і тимпанометрія</li>
        </ul>
      </div>
    </div>
    <div class="cosmetics">
      <h2 class="text-center">Косметолога</h2>
      <div class="services">
        <ul>
          <li>Консультація та підбір доглядової косметики за типом шкіри</li>
          <li>Гігієнічна чистка обличчя ( ультразвукова, механічна, комбінована)</li>
          <li>Пілінги (поверхневі, серединні, механічні)</li>
          <li>Доглядові процедури
          </li>
          <li>Масаж обличчя (класичний, лімфо дренажний, іспанський)</li>
          <li>Апаратні процедури</li>
          <li>Ін’єкції краси (мезотерапія та біоревіталізація)</li>
          <li>Ботулінотерапія верхньої третини обличчя.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
