<section class="p-2 md:p-8">
  <app-section-title [title]="'Наші послуги'"></app-section-title>
  <div class="flex flex-wrap justify-evenly gap-8">
    <div class="services">
      <div class="service" *ngFor="let service of services">
        <h2 class="type">{{service.type}}</h2>
        <div class="service-item flex justify-between" *ngFor="let item of service.list">
          <span class="flex-[1_1_70%]">{{item}}</span>
          <span class="price flex-[1_1_30%] flex justify-end whitespace-nowrap">400 грн</span>
        </div>
      </div>
    </div>
  </div>
</section>
