<footer>
  <div class="footer-information flex items-center p-7 bg-dark text-white flex-col gap-5">
    <div class="contacts flex flex-col sm:flex-row items-start flex-wrap justify-start sm:justify-evenly sm:items-center sm:w-full gap-4">
      <div class="phone flex items-center gap-2 hover:text-primary">
        <div class="icon p-2 rounded-full flex justify-center items-center border-2 border-[#292929]">
          <mat-icon class="text-primary">phone</mat-icon>
        </div>
        <a class="underline" href="tel:+38 068-075-61-46">+38 068-075-61-46</a>
      </div>
      <div class="email flex items-center gap-2 hover:text-primary">
        <div class="icon p-2 rounded-full flex justify-center items-center border-2 border-[#292929]">
          <mat-icon class="text-primary">mail</mat-icon>
        </div>
        <a class="underline" href="loriko.lviv@gmail.com">loriko.lviv@gmail.com </a>
      </div>
      <div class="location flex items-center gap-2">
        <div class="icon p-2 rounded-full flex justify-center items-center border-2 border-[#292929]">
          <mat-icon class="text-primary">location_on</mat-icon>
        </div>
        <span>м. Львів, вул. Наукова 13/1</span>
      </div>
    </div>
    <hr class="text-[#292929]">
    <div class="pinned-container flex w-full justify-between items-center gap-2">
      <div class="copyright w-full">
        <span class="text-white m-0">© {{currentYear}} Лор і Ко. All Rights Reserved</span>
      </div>
      <div class="instagram hover:text-primary">
        <a href="https://www.instagram.com/galiaraba.cosmetology/" target="_blank">
         <mat-icon class="h-[24px]">facebook</mat-icon>
        </a>
      </div>
    </div>
  </div>
</footer>
