<div class="header-information flex justify-end md:justify-center items-center py-4 px-4 bg-dark text-white gap-5 sticky top-0">
  <div class="contacts text-[12px] flex justify-between items-center gap-2 w-full">
    <div class="clinic-name block md:hidden text-white text-2xl">Лор і Ко</div>
    <div class="phone flex items-center gap-2 hover:text-primary">
      <div class="icon p-[5px] rounded-full flex justify-center items-center border-2 border-[#292929]">
        <mat-icon class="text-primary !w-[16px] !h-[16px] text-[16px]">phone</mat-icon>
      </div>
      <a class="underline" href="tel:+38 068-075-61-46">+38 068-075-61-46</a>
    </div>
    <hr class="hidden md:block">
    <div class="email items-center gap-2 hover:text-primary hidden md:flex">
      <div class="icon p-[5px] rounded-full flex justify-center items-center border-2 border-[#292929]">
        <mat-icon class="text-primary !w-[16px] !h-[16px] text-[16px]">mail</mat-icon>
      </div>
      <a class="underline" href="loriko.lviv@gmail.com">loriko.lviv@gmail.com </a>
    </div>
    <hr>
    <div class="location items-center gap-2 hidden md:flex">
      <div class="icon p-[5px] rounded-full flex justify-center items-center border-2 border-[#292929]">
        <mat-icon class="text-primary !w-[16px] !h-[16px] text-[16px]">location_on</mat-icon>
      </div>
      <span>м. Львів, вул. Наукова 13/1</span>
    </div>
  </div>
</div>
<header class="w-full">
  <nav class="items-center justify-between sticky top-0 left-0 flex">
    <div class="left-bar flex items-center gap-4 flex-col">
      <div class="logo-container w-[250px]">
        <img src="/assets/logo_hd.png" alt="Лор і Ко">
      </div>
      <div class="appointment-container">
        <button class="rounded-md bg-green hover:bg-dark border-primary text-white p-2 text-[16px]">Записатися на прийом</button>
      </div>
    </div>
    <div class="right-bar hidden md:flex items-end">
      <img src="/assets/l-kar-otorinolaringolog-1.png" alt="Doctor">
    </div>
  </nav>
  <div class="header-content"></div>
</header>
