<app-header-nav></app-header-nav>
<header class="w-full">
  <nav class="items-center justify-between sticky top-0 left-0 flex">
    <div class="left-bar flex items-center gap-4 flex-col">
      <div class="logo-container w-[250px]">
        <img src="/assets/logo_hd.png" alt="Лор і Ко">
      </div>
      <div class="subtitle text-center">
        <h2 class="font-bold text-dark">Приватна клініка</h2>
        <h2 class="font-bold text-dark">Оториноларингології та Косметології</h2>
      </div>
      <div class="appointment-container">
        <button
          class="rounded-md bg-primary hover:bg-transparent text-white hover:text-primary border-2 border-primary p-2 text-[16px]"
          (click)="scrollToElementById('appointment-form')"
        >Записатися на прийом
        </button>
      </div>
    </div>
    <div class="right-bar hidden md:flex items-end">
      <img src="/assets/l-kar-otorinolaringolog-1.png" alt="Doctor">
    </div>
  </nav>
  <div class="header-content"></div>
</header>
